/* Variables */ /* Colours */
/* Fonts */
/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* fonts */
@font-face {
  font-family: fuenteTitulos;
  src: url(/fonts/HeadingNowTrial-67ExtraboldItalic.ttf);
}
/* Body */
body {
  background-color: #413D3D;
}

/* Header */
nav {
  background-color: #413D3D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  top: 15px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 10px solid grey;
}

.nav-links li {
  margin-right: 20px;
  position: relative;
  bottom: 15px;
}

.nav-links li a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s;
}
.nav-links li a:hover {
  font-size: 22px;
  background-color: #7e1a51;
  color: white;
}

.logo a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  position: relative;
  bottom: 10px;
}

/* Main */
.main-general-index {
  background-color: #413D3D;
  padding: 40px 0 50px 0;
  min-height: 100vh;
  margin: 0 auto;
}

.main-general-index img {
  z-index: 2;
}

.cards-general {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
}

.main-general {
  padding: 40px 0 50px 0;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.citaTexto {
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  color: #fffdfd;
}

.banner {
  background-image: url(../Final/Assets/batallagallos3.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-main {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 64px;
}

.text-desc {
  color: #fffdfd;
  text-align: center;
  text-decoration: none;
  margin: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.freestyle-desc {
  background-color: #5E3B4E;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  bottom: 65px;
}

.noticias {
  color: #fffdfd;
  text-decoration: none;
}

.newsArt img {
  width: 250px;
  height: auto;
  border-radius: 18px;
}

.newsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.text {
  color: #fffdfd;
  text-decoration: none;
}

.last-finals {
  background: linear-gradient(to bottom, #251d6f, #be539e);
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  height: 620px;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  top: 149px;
}

.card-champs {
  border-radius: 12px;
  border: 5px solid #FFD700;
  width: 18rem;
  padding: 5px;
}

.title-champs {
  font-family: "Oswald", sans-serif;
  color: #fffdfd;
  font-size: 28px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 4rem;
  text-align: left;
  top: 30px;
}

.grid-champ {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.galeria {
  padding: 16px;
}

.lista-imagenes img {
  width: 100%;
  object-fit: cover;
}

.lista-imagenes {
  display: flex;
  overflow-y: auto;
}

/* Paises */
.titleCountry {
  color: #fffdfd;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem;
}

.countryArt {
  position: relative;
  display: inline-block;
}
.countryArt:hover .img-country {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.countryArt img {
  width: 326px;
  border-radius: 18px;
  border: 2px solid #fffdfd;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-news {
  border-radius: 12px;
  border: 5px solid #5E3B4E;
  width: 23rem;
}

.button-card {
  border: #5E3B4E 1px solid;
  background-color: #5E3B4E;
}
.button-card:hover {
  border: #7e1a51 1px solid;
  background-color: #7e1a51;
}

.card-body {
  background-color: #cdcdcd;
}

.artistContainer {
  display: inline-block;
  width: 30%;
  text-align: left;
}

.h3-artistName {
  color: #fffdfd;
  text-decoration: none;
  position: relative;
  left: 200px;
}

.artistContainer img {
  width: 100%;
}

/* Competencias */
.competenciasList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.competenciasArt img {
  width: 326px;
  border: 2px solid orangered;
  border-radius: 18px;
}

.titleComp {
  color: #fffdfd;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem;
}

/* Contacto */
.form-img {
  background-image: url(../Assets/agradecimientos.webp);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  border-radius: 20px;
  border: 3px solid white;
}

.titulos-main-contacto {
  color: #fffdfd;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  padding-left: 20px;
  margin-bottom: 4rem;
  text-align: center;
  position: relative;
  top: 30px;
}

/* Footer */
.footerGeneral {
  height: 8rem;
}

.social {
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
}

.social > a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 0 3rem;
}

/* Mixins */
/* Titulos */
/* Grids */
/* images */
/* Llamados */
.titulos-main {
  color: #fffdfd;
  font-size: 28px;
  padding-left: 20px;
  margin-bottom: 4rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
}

.titulos-main-gazir {
  color: #fffdfd;
  font-size: 28px;
  padding-left: 30px;
  margin-bottom: 4rem;
  text-align: left;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
}

.countryList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.firstContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.img-1 img {
  width: 625px;
  border: 2px solid #fffdfd;
}

.img-2 img {
  width: 625px;
  border: 2px solid #fffdfd;
}

.card-body {
  background-color: #cdcdcd;
}

.card-body-champ {
  background-color: white;
}

/*Gazir*/
.first-part {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding-bottom: 35rem;
}

.photo {
  overflow: hidden;
}

.photo img {
  width: 400px;
  height: auto;
  position: absolute;
  border: 2px solid #fffdfd;
}

.desc-1 {
  text-align: center;
  color: #fffdfd;
  text-decoration: none;
  position: relative;
  top: 15rem;
}

.desc-2 {
  text-align: center;
  color: #fffdfd;
  text-decoration: none;
  position: relative;
  top: 15rem;
}

.left {
  animation: slide-in-left 2s ease-out;
}

.right {
  animation: slide-in-right 2s ease-out;
}

.title-gazir {
  text-decoration: none;
  color: #fffdfd;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  animation: slide-in-top 2s ease-out;
}

.img-left {
  left: 35px;
  top: 150px;
}

.img-right {
  right: 50px;
  top: 50rem;
}

.titles-part {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding-top: 4rem;
}

.titles {
  padding-bottom: 10px;
  font-size: 30px;
}

.champs-gazir {
  color: #fffdfd;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 15px;
  left: 8px;
}

.champs-gazir p {
  font-size: 20px;
}

.link {
  position: relative;
  display: inline-block;
}
.link:hover .img-blon {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link img {
  width: 90%;
  border-radius: 18px;
  border: 2px solid #fffdfd;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  left: 27px;
}

.degrade-block {
  width: 100%;
  background: linear-gradient(to bottom, #45688e, #a690d2);
  padding: 20px;
}

.carrusel-title {
  color: #fffdfd;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.carrusel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carrusel img {
  width: 50rem;
  scroll-snap-align: center;
  margin-right: 10px;
}

/* KeyFrames */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Breakpoints */
@media (min-width: 993px) {
  .countryList {
    grid-template-columns: repeat(2, 1fr);
  }
  .countryArt img {
    width: 362px;
  }
  .cards-general {
    grid-template-columns: repeat(2, 1fr);
  }
  .competenciasList {
    grid-template-columns: repeat(2, 1fr);
  }
  .competenciasArt img {
    width: 362px;
  }
  .firstContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-1 {
    padding-right: 2rem;
  }
  .newsList {
    grid-template-columns: repeat(3, 1fr);
  }
  .text-desc {
    width: 85%;
  }
  .freestyle-desc {
    height: 11rem;
  }
  .grid-champ {
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
  }
  .info-grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .title-champs {
    text-align: center;
  }
  .first-part {
    grid-template-columns: repeat(2, 1fr);
  }
  .photo img {
    width: 600px;
  }
  .desc-1 {
    top: 140px;
    right: 20px;
  }
  .desc-2 {
    top: 15rem;
    left: 8px;
  }
  .img-left {
    left: 40px;
    top: 150px;
  }
  .img-right {
    right: 40px;
    top: 27rem;
  }
  .first-part {
    padding-bottom: 27rem;
  }
  .titles-part {
    grid-template-columns: repeat(2, auto);
  }
  .titles-part {
    padding-top: 7rem;
  }
  .link img {
    top: 80px;
  }
}
@media (min-width: 1400px) {
  .countryList {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-general {
    grid-template-columns: repeat(3, 1fr);
  }
  .competenciasArt img {
    width: 362px;
  }
  .desc-1 {
    top: 120px;
    right: 60px;
  }
  .desc-2 {
    top: 17rem;
    left: 60px;
  }
  .img-left {
    left: 60px;
    top: 150px;
  }
  .img-right {
    right: 90px;
    top: 27rem;
  }
  .link img {
    top: 0;
  }
}

/*# sourceMappingURL=paginalinda.css.map */
