@charset "UTF-8";
/* Variables */
/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* fonts */
@font-face {
  font-family: fuenteTitulos;
  src: url(/fonts/HeadingNowTrial-67ExtraboldItalic.ttf);
}
/* Body */
body {
  background-color: #413D3D;
}

/* Header */
.header {
  height: 80px;
  background-color: #413D3D;
  max-width: 100%;
}

.header-gazir {
  position: relative;
  bottom: 25px;
}

.navbar {
  z-index: 9999;
}

/* Main */
.main-general-index {
  background-color: #413D3D;
  padding: 40px 0 50px 0;
  min-height: 100vh;
  margin: 0 auto;
}

.main-general-index img {
  z-index: 2;
}

.cards-general {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.main-general {
  padding: 40px 0 50px 0;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.citaTexto {
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  color: #fffdfd;
}

.banner {
  background-image: url(../Final/Assets/batallagallos3.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-main {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 64px;
}

.text-desc {
  color: #fffdfd;
  text-align: center;
  text-decoration: none;
  margin: auto;
}

.freestyle-desc {
  background-color: #5E3B4E;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  bottom: 65px;
}

.noticias {
  color: #fffdfd;
  text-decoration: none;
}

.newsArt img {
  width: 250px;
  height: auto;
  border-radius: 18px;
}

.newsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.text {
  color: #fffdfd;
  text-decoration: none;
}

.last-finals {
  background: linear-gradient(to bottom, #251d6f, #be539e);
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  height: 620px;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  top: 149px;
}

.card-champs {
  border-radius: 12px;
  border: 5px solid #FFD700;
  width: 18rem;
  padding: 5px;
}

.title-champs {
  font-family: fuenteTitulos, sans-serif;
  color: #fffdfd;
  font-size: 28px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 4rem;
  text-align: left;
  top: 30px;
}

.grid-champ {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.galeria {
  padding: 16px;
}

.lista-imagenes img {
  width: 100%;
  object-fit: cover;
}

.lista-imagenes {
  display: flex;
  overflow-y: auto;
}

/* Paises */
.titleCountry {
  color: #fffdfd;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem;
}

.countryArt img {
  width: 326px;
  border-radius: 18px;
  border: 2px solid #fffdfd;
}

.card-news {
  border-radius: 12px;
  border: 5px solid #5E3B4E;
  width: 23rem;
}

.button-card {
  border: #5E3B4E 1px solid;
  background-color: #5E3B4E;
}
.button-card:hover {
  border: #7e1a51 1px solid;
  background-color: #7e1a51;
}

.card-body {
  background-color: #cdcdcd;
}

.artistContainer {
  display: inline-block;
  width: 30%;
  text-align: left;
}

.h3-artistName {
  color: #fffdfd;
  text-decoration: none;
  position: relative;
  left: 200px;
}

.artistContainer img {
  width: 100%;
}

/* Competencias */
.competenciasList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.competenciasArt img {
  width: 326px;
  border-radius: 18px;
  border: 2px solid orangered;
}

.titleComp {
  color: #fffdfd;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1rem;
}

/* Contacto */
.form-img {
  background-image: url(../Assets/agradecimientos.webp);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  border-radius: 20px;
  border: 3px solid white;
}

.titulos-main-contacto {
  color: #fffdfd;
  font-size: 28px;
  padding-left: 20px;
  margin-bottom: 4rem;
  text-align: center;
  position: relative;
  top: 30px;
}

/* Footer */
.footerGeneral {
  height: 8rem;
}

.social {
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
}

.social > a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 0 3rem;
}

/* Mixins */
/* Titulos */
/* Grids */
/* images */
/* Llamados */
.titulos-main {
  color: #fffdfd;
  font-size: 28px;
  padding-left: 20px;
  margin-bottom: 4rem;
  text-align: center;
}

.titulos-main-gazir {
  color: #fffdfd;
  font-size: 28px;
  padding-left: 30px;
  margin-bottom: 4rem;
  text-align: left;
}

.countryList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.firstContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.img-1 img {
  width: 625px;
  border: 2px solid #fffdfd;
}

.img-2 img {
  width: 625px;
  border: 2px solid #fffdfd;
}

.card-body {
  background-color: #cdcdcd;
}

.card-body-champ {
  background-color: white;
}

/*Gazir*/
/*Texto*/
.text-1 {
  color: #fffdfd;
  padding-left: 2rem;
  text-align: center;
}

.text-2 {
  color: #fffdfd;
  padding-left: 2rem;
}

.text-1 p, .text-2 p {
  text-decoration: none;
  font-size: 20px;
}

.part-two {
  background: linear-gradient(to bottom, #251d6f, #be539e);
  width: 100%;
  height: 108rem;
  position: relative;
  top: 3rem;
}

.part-three {
  background: linear-gradient(to bottom, #251d6f, #be539e);
  width: 100%;
  height: 75rem;
  position: relative;
  top: 3rem;
}

.info-grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
}

.biografia1 {
  color: #fffdfd;
  padding-left: 3rem;
  position: relative;
  top: 30px;
}

.elemento {
  margin-right: 5px;
  content: "✔";
}

.info-grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
}

.biografia2 {
  color: #fffdfd;
  padding-left: 3rem;
  position: relative;
  top: 30px;
}

.biografia3 {
  color: #fffdfd;
  text-align: center;
  padding-top: 100px;
}

.biografia4 {
  color: #fffdfd;
  text-align: center;
}

.biografia5 {
  color: #fffdfd;
  text-align: center;
  padding-top: 20px;
}

.biografia5 {
  color: #fffdfd;
  text-align: center;
  padding-top: 20px;
}

.biografia6 {
  color: #fffdfd;
  text-align: center;
}

/* Breakpoints */
@media (min-width: 993px) {
  .countryList {
    grid-template-columns: repeat(2, 1fr);
  }
  .countryArt img {
    width: 362px;
  }
  .cards-general {
    grid-template-columns: repeat(2, 1fr);
  }
  .competenciasList {
    grid-template-columns: repeat(2, 1fr);
  }
  .competenciasArt img {
    width: 362px;
  }
  .firstContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-1 {
    padding-right: 2rem;
  }
  .newsList {
    grid-template-columns: repeat(3, 1fr);
  }
  .text-desc {
    width: 85%;
  }
  .freestyle-desc {
    height: 11rem;
  }
  .grid-champ {
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
  }
  .info-grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .countryList {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-general {
    grid-template-columns: repeat(3, 1fr);
  }
  .competenciasArt img {
    width: 362px;
  }
}

/*# sourceMappingURL=paginalinda.css.map */
