@media (min-width: 993px) {
    .countryList {
        grid-template-columns: repeat(2, 1fr);
    }
    .countryArt img {
        width: 362px;
    }
    .cards-general{
        grid-template-columns: repeat(2, 1fr);
    }
    .competenciasList {
        grid-template-columns: repeat(2, 1fr);
    }
    .competenciasArt img {
        width: 362px;
    }
    .firstContent {
        grid-template-columns: repeat(2, 1fr);
    }
    .text-1{
        padding-right: 2rem;
    }
    .newsList{
        grid-template-columns: repeat(3, 1fr);
    }
    .text-desc{
        width: 85%;
     }
    .freestyle-desc{
        height: 11rem;
     }
    .grid-champ{
        grid-template-columns: repeat(5, 1fr);
        padding: 5px;
    }
    .info-grid1{
        grid-template-columns: repeat(2, 1fr);
    }
    .info-grid2{
        grid-template-columns: repeat(2, 1fr);
    }
    .title-champs{
        text-align: center;
    }
    .first-part{
        grid-template-columns: repeat(2, 1fr);
    }
    .photo img{
        width: 600px;
    }
    .desc-1{
        top: 140px;
        right: 20px;
    }
    .desc-2{
        top: 15rem;
        left: 8px;
    }
    .img-left{
        left: 40px;
        top: 150px;
    }
    .img-right{
        right: 40px;
        top: 27rem;
    }
    .first-part{
        padding-bottom: 27rem;
    }
    .titles-part{
        grid-template-columns: repeat(2, auto);

    }
    .titles-part{
        padding-top: 7rem;
    }
    .link img{
        top: 80px;
    }
 }

 @media (min-width: 1400px) {
    .countryList {
        grid-template-columns: repeat(3, 1fr);
    }
    .cards-general{
        grid-template-columns: repeat(3, 1fr);
    }
    .competenciasArt img {
        width: 362px;
    }
    .desc-1{
        top: 120px;
        right: 60px;
    }
    .desc-2{
        top: 17rem;
        left: 60px;
    }
    .img-left{
        left: 60px;
        top: 150px;
    }
    .img-right{
        right: 90px;
        top: 27rem;
    }
    .link img{
        top: 0;
    }
}