@media (min-width: 993px) {
    .countryList {
        grid-template-columns: repeat(2, 1fr);
    }
    .countryArt img {
        width: 362px;
    }
    .cards-general{
        grid-template-columns: repeat(2, 1fr);
    }
    .competenciasList {
        grid-template-columns: repeat(2, 1fr);
    }
    .competenciasArt img {
        width: 362px;
    }
    .firstContent {
        grid-template-columns: repeat(2, 1fr);
    }
    .text-1{
        padding-right: 2rem;
    }
    .newsList{
        grid-template-columns: repeat(3, 1fr);
    }
    .text-desc{
        width: 85%;
     }
    .freestyle-desc{
        height: 11rem;
     }
    .grid-champ{
        grid-template-columns: repeat(5, 1fr);
        padding: 5px;
    }
    .info-grid1{
        grid-template-columns: repeat(2, 1fr);
    }
    .info-grid2{
        grid-template-columns: repeat(2, 1fr);
    }
    .title-champs{
        text-align: center;
    }
 }

 @media (min-width: 1400px) {
    .countryList {
        grid-template-columns: repeat(3, 1fr);
    }
    .cards-general{
        grid-template-columns: repeat(3, 1fr);
    }
    .competenciasArt img {
        width: 362px;
    }
}