.competenciasList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 3rem;
    justify-items: center;
    align-items: center;
}
.competenciasArt img {
    width: 326px;
    border: 2px solid $color-border-comp;
}
.titleComp {
    color: $color-words;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 1rem;
}
.competenciasArt{
    display: inline-block;
    position: relative;
    overflow: hidden;
    &:hover .grayscale{
        filter: none;
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}
.grayscale{
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 18px;
}