.form-img{
    background-image: url(../Assets/agradecimientos.webp);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    border-radius: 20px;
    border: 3px solid white;
 }
.titulos-main-contacto{
    color: $color-words;
    font-size: 28px;
    padding-left: 20px;
    margin-bottom: 4rem;
    text-align: center;
    position: relative;
    top: 30px;
}