.first-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}
.photo{
    overflow: hidden;
}
.photo img{
    width: 600px;
    height: auto;
    padding-left: 40px;
    position: absolute;
}
.desc-1{
    text-align: center;
    padding-right: 45px;
    padding-top: 65px;
    color: $color-words;
    text-decoration: none;
}
.desc-2{
    text-align: center;
    color: $color-words;
    text-decoration: none;
    padding-left: 45px;
    padding-top: 100px;
}
.left{
    animation: slide-in-left 2s ease-out;
}
.right{
    animation: slide-in-right 2s ease-out;
}
.title-gazir{
    text-decoration: none;
    color: $color-words;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    animation: slide-in-top 2s ease-out;
}

/* KeyFrames */
@keyframes slide-in-left{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slide-in-right{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slide-in-top{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}