/*Texto*/
.text-1{
    color: $color-words;
    padding-left: 2rem;
}
.text-2{
    color: $color-words;
    padding-left: 2rem;
}
.text-1 p, .text-2 p{
    text-decoration: none;
    font-size: 20px;
}