/* Titulos */
@mixin titulos($padding, $aling){
    color: $color-words;
    font-size: 28px;
    padding-left: $padding;
    margin-bottom: 4rem;
    text-align: $aling;
    margin-top: 30px;
}
/* Grids */
@mixin grid(){
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 3rem;
    justify-items: center;
    align-items: center;
}
/* images */
@mixin images(){
    width: 625px;
    border: 2px solid $color-words;
}
@mixin card($color){
    background-color: $color;
}

@mixin images-mid($width, $left, $top){
    width: $width;
    height: 100%;
    position: relative;
    left: $left;
    top: $top;
}

/* Llamados */
.titulos-main{
    @include titulos(20px,center);
}
.titulos-main-gazir{
    @include titulos(30px,left);
}
.countryList{
    @include grid();
}
.firstContent{
    @include grid();
}
.img-1 img{
    @include images();
}
.img-2 img{
    @include images();
}
.card-body{
    @include card($color-card);
}
.card-body-champ{
    @include card($color-gral);
}
.img-mid1{
    @include images-mid(720px, 45px, 6px);
}
.img-mid2{
    @include images-mid(775px, 25px, 23px);
}