/* Colours */
$color-principal: #413D3D;
$color-button-cards: #5E3B4E;
$color-button-hover: #7e1a51;
$color-card: #cdcdcd;
$color-words: #fffdfd;
$color-gral: white;
$color-champs: #FFD700;
$color-border-comp: orangered;
$color-gradient-1: #45688e;
$color-gradient-2: #a690d2;
$color-nav: #222222;
/* Fonts */
$font-title: 'Oswald', sans-serif;